fastapi
uvicorn
chromadb
langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-chroma
google-generativeai
pydantic
python-multipart
pypdf
python-dotenv
langchain-core
langchain-text-splitters
groq
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=4.1.0
aiosmtplib
email-validator
aiosqlite

psycopg2-binary>=2.9.9
